name: Sync to Gitlab

run-name: ${{ github.actor }} is pushing changes to Gitlab

on:
  push:
    branches:
      - main

jobs:
  sync-to-gitlab:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Push to Gitlab
        run: git push https://oauth2:${{ env.GITLAB_TOKEN }}@gitlab.cc-asp.fraunhofer.de:jschaefer/mirrortest.git main:github_main
        env:
          GITLAB_TOKEN: ${{ secrets.GLTOKEN }}
